// Noto Sans KR 100, 700
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;700&display=swap");
body,
html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 10px;
}
#app {
  position: relative;

  .box {
    border: 1px solid #e7e8ef;
    border-radius: 8px;
  }

  [role="main"] {
    margin-left: 240px;

    &.expand {
      width: 100%;
    }
  }
}
